@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #1D2123;
    font-weight: 600;
    color: #fff;
}


p {
    margin: 0;
    color: white;
}

.aside1 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    /* height: 230px;
    width: 52px; */
    justify-content: space-evenly;
    border-radius: 32px;
    background: #1A1E1F;
    margin-bottom: 20px;
    margin-top: 50px;
    position: fixed;
}

.aside2 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-evenly;
    /* height: 100px;
    width: 52px; */
    border-radius: 32px;
    background: #1A1E1F;
    margin-bottom: 0px;
    position: fixed;
    margin-top: 265px;
}    

.nav-pc {
    background: #1e1e1e;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 58px;
    top: 0;
    padding: 3%;
}

.search {
    background-color: #1A1E1F;
    color: #fff;
    border-radius: 30px;
    margin-left: 6%;
    outline: 0;
    width: 50vw;
}

.search2 {
    background-color: #1A1E1F;
    color: #fff;
    border-radius: 30px;
    margin-left: 6%;
    outline: 0;
    width: 80%;
}

.nav-item:hover {
    color: white !important;
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* .togglebtn {
    fill: white;
} */

.container-fluid {
    /* min-height: 100vh; */
    margin-top: 6rem;
}    

.icon-list {
    background-color: #1A1E1F;
    border-radius: 30px;
}

.card {
    background-color: #609EAF;
    border-radius: 70px;
    width: 55%;
}

.card-text {
    animation: 1s ease 0s 1 normal forwards running downdrop;
}

.card-img {
    animation: 1s ease 0s 1 normal forwards running drop;
}

@keyframes drop {
    0% {
        transform: translateY(400px);
        opacity: 0;
    }

    100% {
    transform: translateY(0px);
    opacity: 1;
    }
}

@keyframes downdrop {
    0% {
        transform: translateY(-400px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.charts {
    width: 30%;
}

.charts-list {
    background-color: #1A1E1F;
    border-radius: 20px;
}

.charts-details p:nth-child(2) {
    color: rgba(255, 255, 255, 0.5);
}

.releases {
    display: flex;
    flex-direction: column;
    margin: auto 3% auto 9%;
}

.scroll {
    overflow-x: scroll;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.player{
    background: rgba(30, 30, 30, 0.54);
    backdrop-filter: blur(7px);
    border-top: 0.5px solid grey;
}

.btn-yellow {
    background-color: #FACD66;
    color: #000;
    border-color: #FACD66;
    border-radius: 20px;
    padding: 0.5% 1.5%;
}

.btn-yellow:hover {
    background-color: #FACD66;
    opacity: 0.9;
    color: #000;
    border-color: #FACD66;
}

.btn-yellow:focus {
    background-color: #FACD66;
    color: #000;
}

.btn-outline-yellow {
    --bs-btn-hover-bg: #FACD66;
    border-color: #FACD66;
    color: #FACD66;
    border-radius: 20px;
    padding: 0.5% 1.5%;
}

.btn-outline-yellow:hover {
    background-color: #FACD66;
    border-color: #FACD66;
    color: #000;
}

.btn-outline-yellow:focus {
    border-color: #FACD66;
    color: #000;
}

/* button color and outline #FACD66 */

.dark {
    background-color: rgba(255, 255, 255, 0.07);
}

.list {
    border-radius: 20px;
    width: 80vw;
}

.album {
    cursor: pointer;
    overflow: hidden;
    transition: all 1s ease 0s;
    border-radius: 20px;
    width: 80%;
    margin: auto;
}

.album-img {
    transition: 1s;
    border-radius: 20px;
    width: 100%;
}


.album-img:hover {
    transform: scale(1.3);
    transition: 0.7s;
}

.main {
    margin: auto 9%;
    min-height: 100vh;
}


/* Media queries */

@media (min-width: 992px) {
    .navbar {
        display: none;
    }
}

@media (max-width: 992px) {

    body {
        padding: 5% 2%;
        font-size: 14px;
    }

    .search {
        padding: 1% 1.5%;
    }
    
    .nav-pc {
        display: none !important;
    }

    .container-fluid {
        margin-top: 2rem;
    }

    .card {
        width: 100%;
        margin: 0 auto;
        border-radius: 25px;
    }

    .charts {
        width: unset;
    }

    .charts-list {
        align-items: flex-start;
    }

    .charts-details img {
        width: 80%;
    }

    .releases {
        margin: auto;
    }

    .scroll {
        gap: 7rem !important;
    }

    .album {
        margin-bottom: 5%;
    }

    .mob {
        justify-content: space-between;
    }

    .main {
        margin: auto;
    }

}